doctype html
head
    title  Canvas Skeleton
    link(href='stylesheets/main.css', rel='stylesheet', type='text/css')
    script(src='js/canvas.js')
body
    #canvas_container
      canvas(id = 'canvas')
